@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
	html {
		font-family: "Inter", system-ui, sans-serif;
	}
}

.swiper {
	overflow: visible !important;
	/* transform: translateZ(0); */
	height: 100%;
}

.swiper-wrapper {
	height: 100%;
	position: relative;
}

.swiper-slide {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: auto;
}

.swiper-slide *:first-child {
	margin-top: auto;
}

.swiper-slide:not(.swiper-slide-active) {
	opacity: 0.5;
}

.swiper-slide:not(.swiper-slide-active):hover {
	opacity: 0.6;
}

.swiper-slide.swiper-slide-active {
	transform: scale(1.2) translateY(-8%) translateY(0) !important;
	z-index: 2;
	opacity: 1;
}
